@{
    ViewBag.Title = "Proprietati";
}

@model CocoFarm.Models.Produs

<h2>Proprietati</h2>

<p> Acestea sunt proprietatile produsului</p>
@foreach (CocoFarm.Models.ProprietateValoare propVal in Model.Proprietati)
{
    <p>
        @Html.DisplayFor(val => propVal.Proprietate.Nume)
    </p>
}

<p>
    @Html.ActionLink("Adauga o proprietate", "AdaugaProprietati")
    @Html.ActionLink("Înapoi în listă", "Index")
</p>